.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-column-gap: 2%;
}

.shop,
.checkout,
.product,
.order,
.user {
  grid-column: 1/4;
}

#logo {
  width: 15%;
}

.login,
.logout {
  float: right;
}

.center {
  text-align: center;
}

.App {
  /* background-image: url("../assets/australiaflag.jpg"); */
  background-repeat: round;
  height: 100%;
}

#root {
  height: 100%;
}

.nav {
  background-color: #dffdff;
  width: 10%;
}

.cart {
  border: 1px solid black;
  padding: 20px;
  overflow: scroll;
  height: 750px;
}

.addtocart {
  bottom: 0;
  position: absolute;
  /* float: right; */
}

.card-height {
  height: 275px;
  /* -webkit-box-shadow: 9px 11px 33px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 11px 33px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 11px 33px -4px rgba(0, 0, 0, 0.75); */
}

#search {
  float: right;
}

.product-img {
  width: 35%;
}
